## AuTextification 2024
### Subtask 1

In [1]:
import pandas as pd
import json

input_dir = "./data_24/train/subtask_1/train.jsonl"

data = []

with open(input_dir, 'r') as f:
    for line in f:
        obj = json.loads(line)
        data.append(obj)

df1 = pd.DataFrame(data)

C:\Users\34686\Downloads\Anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\34686\Downloads\Anaconda\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\Users\34686\Downloads\Anaconda\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df1.head()

      id                                               text      label
0  15442  Es un tribunal de suprema instanza que forma p...  generated
1  26409  Aixó de tindrer la platgeta tant prou era un p...      human
2  12777  Doug mcadam es un científico estadista estadou...  generated
3  63467  El president de la generalitat, carles puigdem...  generated
4  41050  Traídas de francia, tan estrafalarias que una ...  generated

In [7]:
# df1.to_csv('subtask1.csv')

### Subtask 2

In [3]:
import pandas as pd
import json

input_dir = "./data_24/train/subtask_2/train.jsonl"

data = []

with open(input_dir, 'r') as f:
    for line in f:
        obj = json.loads(line)
        data.append(obj)

df2 = pd.DataFrame(data)

In [4]:
df2.head()

      id                                               text label
0  15442  Es un tribunal de suprema instanza que forma p...     B
1  12777  Doug mcadam es un científico estadista estadou...     B
2  63467  El president de la generalitat, carles puigdem...     D
3  41050  Traídas de francia, tan estrafalarias que una ...     C
4  91814  A saída trives – baiona será ás 8 30h da mañá ...     C

In [8]:
# df2.to_csv('subtask2.csv')